.tagscroller .item {
    display: none;
}

.tagscroller .scroll {
    display: block;
}

.tagscroller .votes {
    float:left;
    width:5%;
    text-align: center;
}
.tagscroller .text {
    float: right;
}

.tagscroller .with-votes {
    width: 90%;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #F89406;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #08C;
}
